.client-intro{
    text-align: center;
    
}

.client-intro h1{
    color: #4D4D4D;
}

.client-intro h5{
    color: #717171;
}

.client-img img{
    max-width: 100%;
    height: auto;
    margin: 20px 50px 20px 50px;
}